.vdivide {
  width: 6px;
  border: 1px solid #c5c5c5;
  border-width: 0 1px 0 1px;
  border-right-color: rgba(0,0,0,0.30);
  background: #f9f9f9;
  background: #f9f9f9;
  background: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#dfe0e1));
  background: -moz-linear-gradient(top, #f9f9f9, #dfe0e1);
  background: linear-gradient(top, #f9f9f9, #dfe0e1);
}
